* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --p-bg-color-1: rgb(10, 20, 110);
  --p-bg-color-2: #0071EB;
  --white: white;
  --blue: blue;
  --black: black;
  --cornflowerblue: cornflowerblue;
  --warm-yellow: rgb(249, 202, 36);
  --vibrant-orange: rgb(240, 147, 43);

}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 2;

}

header div {
  padding: 10px;
}

.logo {
  background: linear-gradient(to bottom right, var(--p-bg-color-1), var(--p-bg-color-2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
}

header .header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* study-tags-search-section */

.study-tags-search-section {
  display: flex;
  flex-direction: column;
  margin: 40px;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(to bottom right, var(--p-bg-color-1), var(--p-bg-color-2));
  color: var(--white);

}

.study-tags-search-section div {
  margin-bottom: 20px;

}

.study-tags-search-section div.study-text {
  margin: 30px;

}

.study-tags-search-section div input {
  padding: 10px;
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.study-tags-search-section div.tag-icons ul {
  list-style: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  display: flex;
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-height: 104px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  scrollbar-width: none;

}

.study-tags-search-section .tag-icons ul::-webkit-scrollbar {
  width: 0;
}

.study-tags-search-section div.tag-icons ul li {
  width: 100px;
  margin: 0px;
  margin: 10px;
}

.study-tags-search-section div.tag-icons ul li a {
  text-decoration: none;
}

.study-tags-search-section div.tag-icons ul li a span {
  display: block;
  width: 100px;
  color: var(--white);

}

.study-tags-search-section div.tag-icons ul li a i {
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
  padding: 15px;
  margin-bottom: 10px;
  color: var(--black);
}

.active-tag-text {
  background: linear-gradient(45deg, var(--warm-yellow), var(--vibrant-orange));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.active-tag-i {
  background: linear-gradient(45deg, var(--warm-yellow), var(--vibrant-orange));
}

.study-tags-search-section div.tag-icons ul li:hover a i {
  background: linear-gradient(45deg, var(--warm-yellow), var(--vibrant-orange));
}

.study-tags-search-section div.tag-icons ul li:hover a span {
  background: linear-gradient(45deg, var(--warm-yellow), var(--vibrant-orange));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}


/* Category  or starts with section*/
.start-with-section {
  margin: 40px;
}

.start-with-list {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.start-with-list li,
.start-with-list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 120px;
  margin: 20px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s;
}

.start-with-list li {
  background: linear-gradient(45deg, var(--warm-yellow), var(--vibrant-orange));
}

.start-with-list li a i {
  margin: 10px;
  font-size: 1.2em;
}

.start-with-list li:hover {
  background: transparent;
  box-shadow: 0 0 0 2px var(--vibrant-orange);
  color: var(--warm-yellow);
  text-align: center;

}


/* content topic if present and the table of content*/
.topic-content {
  margin: 40px;
  padding: 20px;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, var(--p-bg-color-1), var(--p-bg-color-2));
  border-image-slice: 1;


}

.topic-content .topic-title {
  margin: 20px 0;
  background: linear-gradient(45deg, var(--warm-yellow), var(--vibrant-orange));
  padding: 10px;
}

.content-table {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  position: sticky;
  z-index: 2;
  top: 60px;
  background: white;
}

.content-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-table-header i {
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.table-of-contents {
  display: none;

}

.table-of-contents ol li {
  margin: 2px;
}

.table-of-contents ol li a {
  text-decoration: none;
  color: var(--black);
}

.table-of-contents ol li a:hover {
  color: var(--cornflowerblue);
}

.topic-content .topic-description {
  margin: 30px 10px;

}

.topic-content .topic-subheading,.topic-subheading-description {
  margin: 30px 10px;

}

.topic-content .table-of-contents,
.subheading-ul {
  margin: 30px;

}

/* tools  */
.tools {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 40px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.tools h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.tools div {
  margin-bottom: 10px;
}

.tools label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

.tools input[type="number"] {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tools button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.solutions {
  margin-top: 20px;
}

.solutions h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.solutions p {
  font-size: 16px;
}


/* suprises slideshow section */

.feature-slideshow {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.feature-slide {
  flex: 0 0 300px;
  padding: 20px;
  margin: 20px;
  /* scroll-snap-align: start; */
  /* background-color: #f0f0f0; */
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.feature-slide h3 {
  margin-top: 0;
  text-align: center;
}

.feature-slide p {
  margin: 10px 0;
  text-align: justify;
}

.feature-slide img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}


/* Footer */
.footer {
  padding: 40px 0;

}

.footer h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  max-width: 200px;
  margin: 0 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer ul li:hover {
  color: var(--blue);
  color: cornflowerblue;
}

.footer ul li a {
  text-decoration: none;
}

.footer-bottom {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom div.translate select {
  padding: 10px;
}

.footer-social a {
  text-decoration: none;
  margin-left: 10px;
}

.footer-social a:first-child {
  margin-left: 0;
}

.footer-social a {
  font-size: 24px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-links {
      justify-content: center;
  }

  .footer-column {
      margin: 20px 0;
      max-width: none;
  }
}